/* Navbar */
.navbar-brand img {
    padding-right: 15px;
    width: 85px;
  }

  /* Jumbotron  */
.rockBackground {
    height: calc(100vh - 25px);
    background-image: url(../images/rockOn_dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }